absl-py==2.0.0
aggdraw==1.3.16
ann-visualizer==2.5
anyio==4.0.0
asttokens==2.4.0
astunparse==1.6.3
backcall==0.2.0
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
cachetools==5.3.2
certifi @ file:///croot/certifi_1707229174982/work/certifi
clip==1.0
cmake==3.27.2
coloredlogs==15.0.1
comm==0.1.4
contourpy==1.1.0
cycler==0.11.0
debugpy==1.6.7.post1
decorator==5.1.1
distro @ file:///croot/distro_1701455004953/work
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
filelock==3.12.3
fire==0.5.0
flatbuffers==1.12
fonttools==4.42.1
fsspec==2023.12.2
ftfy==6.1.1
gast==0.3.3
google-auth==2.23.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.48.2
h11==0.14.0
h2 @ file:///tmp/build/80754af9/h2_1615904319604/work
h5py==2.10.0
hpack==4.0.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.20.2
humanfriendly==10.0
hyperframe==6.0.1
idna @ file:///croot/idna_1666125576474/work
imageio==2.33.1
importlib-metadata==6.8.0
importlib-resources==6.0.1
ipykernel==6.25.2
ipython==8.12.2
jax==0.4.13
jedi==0.19.0
joblib==1.3.2
jupyter_client==8.3.1
jupyter_core==5.3.1
keras==2.9.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
lit==16.0.6
llvmlite==0.41.1
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ml-dtypes==0.2.0
mpmath==1.3.0
munkres==1.1.4
nest-asyncio==1.5.7
networkx==3.1
numba==0.58.1
numexpr @ file:///croot/numexpr_1683221822650/work
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
onnx==1.14.1
onnx2torch==1.5.13
onnxconverter-common==1.14.0
onnxruntime==1.16.3
open-clip-torch==2.0.2
openai @ file:///croot/openai_1701456885179/work
opencv-python==4.8.1.78
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
pandas-stubs @ file:///croot/pandas-stubs_1676319782725/work
parso==0.8.3
pbr==6.0.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
prompt-toolkit==3.0.39
protobuf==3.19.6
psutil==5.9.5
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval==0.2.2
pydantic @ file:///croot/pydantic_1695798841041/work
pydot==1.4.2
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-version==0.0.2
pytz==2023.3.post1
PyWavelets==1.4.1
pyzmq==25.1.1
regex==2023.10.3
requests-oauthlib==1.3.1
rfc3986 @ file:///Users/ktietz/demo/mc3/conda-bld/rfc3986_1629478296451/work
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.7.0
seaborn @ file:///croot/seaborn_1673479180098/work
six==1.15.0
sniffio==1.3.0
stack-data==0.6.2
sympy==1.12
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.3
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==1.1.0
testresources==2.0.1
tf-estimator-nightly==2.8.0.dev2021122109
tf2onnx==1.16.0
thingsvision==2.4.1
threadpoolctl==3.2.0
tifffile==2023.7.10
timm==0.6.13
toml==0.10.2
tomlparse==1.0.2
torch==1.13.1
torchtyping==0.1.4
torchvision==0.14.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
triton==2.0.0
typeguard==4.1.5
types-pytz @ file:///croot/types-pytz_1665514243479/work
types-toml==0.1.5
typing_extensions==4.7.1
tzdata==2023.3
utils==1.0.2
visualkeras==0.0.2
wcwidth==0.2.6
Werkzeug==3.0.1
wrapt==1.12.1
zipp==3.16.2
